* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    padding: 20px ;
}

body {
    background: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgb(112, 0, 240);
    box-shadow: 0 2px 10px rgba(85, 1, 240, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #ff0303;
    font-weight: bold;
}



.hero-text h1 {
    font-size: 36px;
}

.hero-text span {
    color: #46219c;
    font-weight: bold;
}

.btn, .btn-outline {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}




.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #f1f1f1;
}

.stat h2 {
    font-size: 28px;
    color: #46219c;
}

.about {
    display: flex;
    align-items: center;
    padding: 50px;
    background: rgb(62, 79, 109);
}

.about-text {
    margin-left: 30px;
}

.about ul {
    list-style: none;
    margin-top: 10px;
}

.hero-image img, .about-image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

h2{

color: #46219c;
}

nav {
    color: #46219c;
}





.proflinks {
    padding: 10px;
    text-align: center;
    background-color: #2a3c6d;
}

.proflinks div {
    margin-left: 10px; 
    padding: 10px;
    background-color: rgb(238, 240, 255);
    border-radius: 8px;
    width: fit-content;
}
.proflinks a {
    font-family: 'Arial', sans-serif;  /* Change this to any font you prefer */
    font-size: 18px;
    color: #1a1a1a;
    text-decoration: none; /* Optional: removes underline */
}

.about-text {
    padding: 5px;
    color: #333;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: left;
}